<div class="row" style="margin-top: 80px;">
    
    <div class="row">
        
        <div class="col-xs-12 col-sm-2">
        </div>
            
        <div class="col-xs-12 col-sm-8">

            <div class="col-xs-12 col-sm-4" >
                <div class="media-left media-middle">
                    <a href="#">
                      <img class="media-object img-thumbnail"
                       src="http://www.buddyget.net/static/img/fernandobadin.jpg" alt="Fernando's Picture" style="max-width: 200px;">
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-8" style="margin-top: 10px;">    

                <h3 class="media-heading" style="color: black;">About this App</h3>
                 
                <p style="margin-top: 10px;" align="justify">
                    Hi. My name is Fernando Badin and I am the creator of this App. <br />
                    I'm always striving to update it and make general improvements. If you have any concerns about how to use it, please send me a message <a href="http://www.fbadin.com/contact">here</a>.<br /> I will try to answer it as soon as possible. <br />
                    If you need a system for your business, please give us a call. <br />
                    Thank you for using it and I hope that you would enjoy and have a great experience for your jorney.<br />
                </p>
                
            </div>
    
        </div>

        <div class="col-xs-12 col-sm-2">
        </div>

    </div>    

    
</div>